#navigation .category-level-1>ul>li:hover>a {
  color: #d81b60 !important
}

#navigation .category-level-1>ul>li:hover>.category-level-2 {
  display: block
}

.toggle-bar {
  cursor: pointer;
}

#whatsapp-order {
  position: fixed;
  bottom: 10px;
  z-index: 9999;
  display: flex;
  width: 20rem;
  height: 5rem;
  align-items: center;
  color: #ffffff;
  font-size: 1.4rem;
  justify-content: center;
  background: #128c7e;
  border-radius: .4rem;
}

#whatsapp-order.left {
  left: 10px;
}

#whatsapp-order.right {
  right: 10px;
}

#whatsapp-order .fab {
  margin-right: 1rem;
  font-size: 2.2rem;
}

.yorum-container {
  max-width: 1560px;
  margin: 20px auto;
  /* Center the container and remove margin from left and right */
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.yorum-box {
  flex: 15%;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  background: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;

}

.yorum-box:last-child {
  margin-right: 0;
  /* Remove margin from the last box */
}

.yorum-box img {
  width: 100%;
  height: auto;
  display: block;
}

.yorum-box:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.star-container {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
}

.star {
  color: gold;
  font-size: 20px;
  margin-right: 5px;
}

@media (max-width: 768px) {
  .yorum-box {
    flex: 10%;
    /* Adjust the width for mobile */
  }

  .star-container {
    display: none;
    /* Hide stars on mobile */
  }

  .yorum-container {
    gap: 5px;
    /* Reduce the gap between boxes on mobile */
  }
}