/* Navbar */
#navigation .category-level-1>ul>li:hover>a {
  color: #d81b60 !important
}

#navigation .category-level-1>ul>li:hover>.category-level-2 {
  display: block
}

.toggle-bar {
  cursor: pointer;
}

/* Whatsapp Order Button */
#whatsapp-order {
  position: fixed;
  bottom: 10px;
  z-index: 9999;
  display: flex;
  width: 20rem;
  height: 5rem;
  align-items: center;
  color: #ffffff;
  font-size: 1.4rem;
  justify-content: center;
  background: #128c7e;
  border-radius: .4rem;
}

#whatsapp-order.left {
  left: 10px;
}

#whatsapp-order.right {
  right: 10px;
}

#whatsapp-order .fab {
  margin-right: 1rem;
  font-size: 2.2rem;
}

.brand-container {
  max-width: 1560px;
  margin: 20px auto;
  /* Center the container and remove margin from left and right */
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.yorum-box {
  flex: 15%;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  background: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;

}

.yorum-box:last-child {
  margin-right: 0;
  /* Remove margin from the last box */
}

.yorum-box img {
  width: 100%;
  height: auto;
  display: block;
}

.yorum-box:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.star-container {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
}

.star {
  color: gold;
  font-size: 20px;
  margin-right: 5px;
}

@media (max-width: 768px) {
  .yorum-box {
    flex: 10%;
    /* Adjust the width for mobile */
  }

  .star-container {
    display: none;
    /* Hide stars on mobile */
  }

  .brand-container {
    gap: 5px;
    /* Reduce the gap between boxes on mobile */
  }
}

/* Home Product Sections */

section.recommended-section {
  padding-top: var(--spacer-10);
  padding-bottom: var(--spacer-00);
  margin-bottom: var(--spacer-00)
}

section.new-arrivals-section {
  padding-top: var(--spacer-10);
  padding-bottom: var(--spacer-00);
  margin-bottom: var(--spacer-00)
}

section.featured-section {
  padding-top: var(--spacer-10);
  padding-bottom: var(--spacer-00);
  margin-bottom: var(--spacer-00)
}

/* Product Card */

.showcase-price {
  font-size: 1.6rem;
  font-weight: 700;
  height: auto !important;
}

.showcase-price.old-price {
  font-size: 1.3rem;
  font-weight: 400;
  color: #000000a9;
  text-decoration: line-through;
}

.product-list-row .old-price {
  margin-left: 15px;
  font-size: 1.3rem;
  font-weight: 400;
  color: #000000a9;
  text-decoration: line-through;
}

/* Loader */

.dots-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  width: 100%;
}

.dot {
  height: 20px;
  width: 20px;
  margin-right: 10px;
  border-radius: 10px;
  background-color: #b3d4fc;
  animation: pulse 1.5s infinite ease-in-out;
}

.dot:last-child {
  margin-right: 0;
}

.dot:nth-child(1) {
  animation-delay: -0.3s;
}

.dot:nth-child(2) {
  animation-delay: -0.1s;
}

.dot:nth-child(3) {
  animation-delay: 0.1s;
}

@keyframes pulse {
  0% {
    transform: scale(0.8);
    background-color: #b3d4fc;
    box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
  }

  50% {
    transform: scale(1.2);
    background-color: #0f697c;
    box-shadow: 0 0 0 10px rgba(178, 212, 252, 0);
  }

  100% {
    transform: scale(0.8);
    background-color: #b3d4fc;
    box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
  }
}

/* Form Invalid */

.form-control.invalid {
  border-color: #dc3545;
}

.member-login-market .fa-cart-shopping {
  font-size: 20px;
  color: #fff;
  margin-bottom: 10px;
}

.member-login-market {
  display: flex;
  column-gap: 15px;
}

[role="button"] {
  cursor: pointer;
}

/* Cart */

.table-cart {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.table-cart tbody tr {
  padding: 10px 0;
  border-bottom: 1px solid #e0e0e0;
}

.table-cart tbody td {
  padding-top: 20px;
  font-size: 16px;
  font-weight: 400;
  color: #43484D;
  margin-top: 10px;
}

.table-cart .product-col .product {
  display: flex;
}

.table-cart .product-col .product .product-media {
  margin: 0;
  padding: 0;
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 5px;
  margin-right: 10px;
}

.table-cart .product-col .product .product-title {
  font-size: 16px;
  font-weight: 400;
  color: #43484D;
  margin-top: 10px;
}

.table-cart .price-col .old-price {
  font-size: 14px;
  font-weight: 400;
  margin-top: 10px;
  margin-left: 5px;
}

.table-cart .quantity {
  margin-right: 60px;
}

.table-cart .quantity input {
  border: none;
  text-align: center;
  width: 32px;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
  background-color: transparent;
}

.table-cart button[class*=btn] {
  width: 30px;
  height: 30px;
  background-color: #E1E8EE;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.table-cart .minus-btn img {
  margin-bottom: 3px;
}

.table-cart .plus-btn img {
  margin-top: 2px;
}

.table-cart button:focus,
.table-cart input:focus {
  outline: 0;
}

@media screen and (max-width: 991px) {
  .table-cart {
    width: 100%;
    height: auto;
    overflow: hidden;
  }

  .table-cart thead tr th.small-hide {
    display: none;
  }

  .table-cart tbody tr {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
  }

  .table-cart .product-col {
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
  }

  .table-cart .product-col .product {
    flex-direction: column;
  }

  .table-cart .product-col .product .product-media img {
    width: 50%;
  }

  .table-cart .product-col .product .product-media,
  .table-cart .quantity {
    width: 100%;
    height: auto;
    text-align: center;
    margin: 6px 0;
  }
}

.cart-total {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 20px 0;
}

.cart-total span {
  font-size: 16px;
  font-weight: 400;
  color: #43484D;
  margin-top: 10px;
}

.cart-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

/* Account */

.account-box {
  background-color: transparent;
  border: none;
}

/* Header Account Menu */

.member-login-market .fa-angle-down {
  font-size: 20px;
  color: #fff;
  margin-left: 10px;
  position: relative;
  top: 2px;
}

@media screen and (max-width: 991px) {
  .member-login-market .fa-angle-down {
    display: none;
  }
}

.dropdown-toggle {
  cursor: pointer;
  position: relative;
}


.sub-menu {
  display: none;
}

.sub-menu.active {
  display: block;
  position: absolute;
  background-color: #fff;
  z-index: 1;
  right: 0;
}

.sub-menu.active li {
  border-bottom: 1px solid #e0e0e0;
}

.sub-menu.active li a {
  width: 100%;
  padding: 10px 20px;
  display: block;
}